div(class="container container-login mt-4")
    h1(class="mb-4") Login
    if error
        div(class="alert alert-danger mb-4") #[strong Error] #{error}
    if success
        div(class="alert alert-success mb-4") #[strong Success] #{success}
    form(method="POST" action="")
        input(name="email" class="form-control mb-2" type="email" placeholder="email" required)
        input(name="pwd" class="form-control mb-4" type="password" placeholder="password" required)
        button(class="form-control btn btn-success") LOGIN
    div(class="text-center mt-2 small") Not registered? #[a(href="/register") Create an account]