div(class="container container-login mt-4")
    h1(class="mb-4") Register
    if error
        div(class="alert alert-danger mb-4") #[strong Error] #{error}
    if success
        div(class="alert alert-success mb-4") #[strong Success] #{success}
    form(method="POST" action="")
        input(name="name" class="form-control mb-2" type="text" placeholder="username" required)
        input(name="email" class="form-control mb-4" type="email" placeholder="email" required)
        input(name="pwd" class="form-control mb-2" type="password" placeholder="password" required pattern=".{8,}")
        input(name="pwd_confirm" class="form-control mb-4" type="password" placeholder="confirm password" required pattern=".{8,}")
        label(class="mb-4") #[input(type="checkbox" name="newsletter" checked)] Receive marketing #[strike spam] emails
        button(class="form-control btn btn-success") REGISTER
    div(class="text-center mt-2 small") Already have an account? #[a(href="/login") Login]